<!DOCTYPE html>
<html>
<head>
	<title>index</title>
	<script type="text/javascript" src='/static/js/jquery-3.1.1.min.js'></script>
	<script type="text/javascript" src='/static/js/vue.min.js'></script>
	<script type="text/javascript" src='/static/js/bootstrap.min.js'></script>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/register.css">
	<link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>
<!-- 头部部分 -->
	<div class="top content_size">
		<p id = 'title' class='col-md-8 text-left' style = 'font-size: 24px'>
			学生信息展示
		</p>
		<div class='input-group col-md-3 text-right search'>
			<input id = 'serarchText' type="text" class="form-control clearPardding" placeholder="请输入年龄">
			<span class='input-group-btn clearPardding'>
				<button id='serarchButton' class='btn btn-info'>查询</button>
			</span>
		</div>
	</div>

<!-- 中间部分 -->
	<div id = 'content' class="content">
		<button class = 'btn btn-primary content_size' data-toggle = 'modal' data-target = '#myModel'>
			添加学员
		</button>
		{% verbatim %}
			<table class = 'table col-md-11 content_size'>
				<thead>
					<tr>
						<th>学号</th>
						<th>姓名</th>
						<th>性别</th>
						<th>年龄</th>
						<th>专业</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody v-for='student in studentList'>
					<tr>
						<td>{{ student.id }}</td>
						<td>{{ student.name }}</td>
						<td>{{ student.gender }}</td>
						<td>{{ student.age }}</td>
						<td>{{ student.subject }}</td>
						<td>
							<button class="btn btn-primary">
								修改
							</button>
							<button class='btn btn-waring'>
								删除
							</button>
						</td>
					</tr>
				</tbody>
			</table>
		{% endverbatim %}

<!-- 底部包含分页 -->
		<div class="bottom content_size text-right">
			{% verbatim %}
			<ul class='pagination clearPardding' v-for = 'p in page' >
				<li class = 'clearPardding'><a class='clearPardding'> {{p}} </a></li>
			</ul>
			{% endverbatim %}
		</div>
	</div>
<!-- 学员注册模态框 -->
	<div class = 'modal fade' id='myModel' tabindex="-1" role='dialog' aria-lableledby = 'myModelLabel' aria-hidden='True'>
		<div class = 'modal-dialog'>
			<div class = 'modal-content'>
				<div class = 'modal-header'>
					<button type = 'button' class = 'close' data-dismiss = 'modal' aria-hidden = 'true'> &times; </button>
					<h4 class = 'modal-title'>
						学员信息注册
					</h4>
				</div>
				<div class = 'modal-body'>
					<form class = 'form-inline content_size' method="post">
						{% csrf_token%}
						{{ sForm.as_p }}
					</form>
				</div>
				<div class = 'modal-footer'>
					<button type = 'button' class = 'btn btn-primary content_size'>注册</button>
				</div>
			</div>
		</div>
	</div>

<!--动态ajax绑定-->
	<script type="text/javascript">
		$(
			function () {
				$.ajax(
					{
						url:'/listData/',
						type:'get',
						data:{'page':1,'pagesize':5},
						success:function(data) {
							console.log(data)
							var staticData = data.data;
							var page = data.total;
							new Vue(
									{
										el:'#content',
										data:{
											studentList:staticData,
											page:page
										}
									}
							)
					},
						error:function(err) {
							console.log(err)
						}
					}
				)
			}
		)
	</script>
</body>
</html>